# MATHEUS GATTO

# TAREFA AULA 05 - TOP YOUTUBERS

In [ ]:
#PASSOS DE LIMPEZA

1. Checar a tipagem do dataframe (Por exemplo usando .info())
2. Converter

In [2]:
import numpy as np
import pandas as pd
import matplotlib as mplt

In [3]:
#LENDO O ARQUIVO CSV
df = pd.read_csv('arquivos/topyoutube.csv')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1587 entries, 0 to 1586
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Artist       1587 non-null   object
 1   Total Views  1587 non-null   object
 2   100M         1416 non-null   float64
 3   Avg          1587 non-null   float64
dtypes: float64(2), object(2)
memory usage: 49.7+ KB

In [16]:
#Mostrando o arquivo

df

               Artist Total Views           100M    Avg
0                 BTS    27,947.9   6300000000.0   7.37
1           Bad Bunny    27,573.4   6600000000.0  14.56
2       Justin Bieber    27,399.7   3700000000.0   3.99
3          Ed Sheeran    26,894.0   3900000000.0   4.61
4        Taylor Swift    24,350.0   3800000000.0   5.72
...               ...         ...            ...    ...
1582  Pietro Lombardi       204.1  Não Informado   0.02
1583            Duffy       203.2  Não Informado   0.02
1584          Psirico       201.1    100000000.0   0.04
1585       Alex Clare       200.8  Não Informado   0.02
1586       The Avener       200.5  Não Informado   0.04

[1587 rows x 4 columns]

In [13]:
#CHECANDO OS CAMPOS NULOS
df.isnull().sum()

Artist         0
Total Views    0
100M           0
Avg            0
dtype: int64

In [12]:
# 2. Tratar as colunas sem informação adicionando o texto “Não informado”.
df = df.fillna("Não Informado")

df.head(2)

      Artist Total Views          100M     Avg
0        BTS    27,947.9  6300000000.0   7.370
1  Bad Bunny    27,573.4  6600000000.0  14.555

In [9]:
# 3. Formatar a coluna de total de inscritos multiplicando por 100 milhões.
# Preciso tomar cuidado para não multiplicar quando o campo for OBJECT, isso faz o PC travar todo

#df['100M'] = df['100M'] * 100000000

In [15]:
# 4. Formatar coluna “AVG” para 2 casas decimais depois da vírgula.
df["Avg"] = df["Avg"].round(2)

In [136]:
df["Avg"]

0        7.37
1       14.56
2        3.99
3        4.61
4        5.72
        ...
1582     0.02
1583     0.02
1584     0.04
1585     0.02
1586     0.04
Name: Avg, Length: 1587, dtype: float64

In [18]:
# 5. Mostrar os top 10 usuários.

df_ordenado = df.sort_values(by='Avg', ascending=False) #Ordenando de acordo com o AVG
top10_query = df_ordenado.head(10)

top10_query

               Artist Total Views          100M    Avg
35      Guru Randhawa    12,413.4  3300000000.0  21.63
1           Bad Bunny    27,573.4  6600000000.0  14.56
12          Blackpink    20,082.0  3200000000.0   8.63
16         The Weeknd    17,668.9  3000000000.0   8.52
5             Shakira    23,961.8  4300000000.0   7.84
39           Anuel AA    12,111.8  2300000000.0   7.48
0                 BTS    27,947.9  6300000000.0   7.37
338              Feid     2,669.1   800000000.0   6.68
28            Karol G    13,981.8  2600000000.0   6.59
18   Marília Mendonça    16,515.8  5300000000.0   6.40

In [19]:
#6. Mostrar primeiros 100 usuários por nome decrescente.

df_query_nome_desc = df.sort_values(by='Artist', ascending=False) #Ordenando de acordo com o Artist
df_query_nome_desc

             Artist Total Views         100M   Avg
1374         Łobuzy       396.5  200000000.0  0.11
537     İrem Derici     1,717.3  300000000.0  0.32
634      Ñengo Flow     1,388.8  400000000.0  0.82
1032  Çağatay Akman       742.7  200000000.0  0.05
350       will.i.am     2,582.0  600000000.0  0.30
...             ...         ...          ...   ...
562         2CELLOS     1,619.4  100000000.0  0.33
894         25hours       929.3  100000000.0  0.15
224       21 Savage     3,741.6  800000000.0  1.10
534        2 Chainz     1,728.7  500000000.0  0.28
513        (G)I-DLE     1,797.7  700000000.0  1.66

[1587 rows x 4 columns]

In [20]:
#7. Salvar um novo CSV com a informação tratada.

df.to_csv('./arquivos/topyoutube_tratada.csv')
!ls ./arquivos

4300Answers.csv		   exemplos	     numeros_json2.json
4300Answers_femininos.csv  imgs		     numeros_json.json
customers.csv		   numeros_csv2.csv  topyoutube.csv
estados.json		   numeros_csv.json  topyoutube_tratada.csv